# ----------------------
# Flask
# ----------------------
flask
SQLAlchemy
Flask-SQLAlchemy
pymysql

# ----------------------
# Testing
# ----------------------
#mock

# ----------------------
# Production Server
# ----------------------
gunicorn